* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.t-center {
    text-align: center;
}

.h-100vh {
    height: 100vh;
}

.p-relative {
    position: relative;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link {
    color: white;
    text-decoration: none;
    font-size: 25px;
}